@import url('https://fonts.googleapis.com/css?family=Crimson+Text|Karla:400i&display=swap');
::-moz-selection {
  background: #000;
  color: #fff; }

::selection {
  background: #000;
  color: #fff; }

a {
  -webkit-transition: .3s all ease;
  -o-transition: .3s all ease;
  transition: .3s all ease; }
  a:hover {
    text-decoration: none; }

h1, h2, h3, h4, h5,
.h1, .h2, .h3, .h4, .h5 {
  font-family: "Quicksand", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji"; }

.text-style{
  color:white;
  font-size:30px;
  margin-left: 175%;
}
@media screen and (max-width: 768px){
  .text-style{
    font-size:18px;
  }
}
*, *::before, *::after {
  box-sizing: border-box;
}
.container-style{
    width: 100%;
display: grid;
grid-template-columns: 0.5fr 1.3fr 3fr;
grid-template-rows: 100px;
justify-content: center;
align-items: center;
z-index: 10001;
background:#234271e6;
position: fixed;
box-shadow: 10px 10px 30px rgba(0,0,0,0.50);
  }
  .navbar-list{
    display: flex;
    justify-content: space-between;
  }
  .navbar-list{
    list-style: none;
  }
  .navbar-list a{
    color:white;
    text-decoration: none;
    outline:none;
    font-size: 16px;
    font-weight: bolder;
    letter-spacing: 1.3px;
    padding-right:30px;
  }
/*  .navbar-list a:hover{
    border-bottom:2px solid lightblue;
    border-top:2px solid lightblue;
    transition: all 0.3s ease-in-out;
  }*/
  .tagline .tagline-style{
    display: block;
    font-weight: bolder;
    font-size: 19px;
    line-height: 1.2;
    letter-spacing: 1.1px;
    color:white;
    word-spacing: 1.3px;
  }
  .tagline .tagline-base{
    color:white;
    display: block;
    font-weight: bolder;
    font-size: 17px;
    line-height: 1.2;
    letter-spacing: 1.2px;
    word-spacing: 1.2px;
  }
  @import url('https://fonts.googleapis.com/css?family=Work+Sans:300,600');
body {
  margin: 0;
  padding:0;
  font-family: 'Work Sans', sans-serif;
  font-weight: 400;
  overflow-x:hidden;
  background-size: cover;
  background-repeat: no-repeat;
}
@media screen and (min-width:769px){
  .contact-style{
    padding-right:40px;
  }
}
@media screen and (max-width:768px){
  .line1{
    width:30px;
    height:3px;
    background:white;
    margin:5px;
  }
  nav{
    position:relative;
    right:5%;
  }
  .hamburger{
    position:absolute;
    top:50%;
    transform: translate(-5%,-50%);
    cursor:pointer;
    right:5%;
    z-index : 2 ;
  }
  .navbar-list{
    overflow-x: hidden;
    position: fixed;
background:#234271e6;
    background-size: cover;
    height: 90vh;
    width:112%;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    clip-path: circle(100px at 90% -20%);
    -webkit-clip-path:circle(100px at 90% -20%);
    transition : all 1s ease-out;
    z-index:10001;
  }
  .navbar-list.open{
    clip-path: circle(1050px at 90% -20%);
    -webkit-clip-path:circle(1050px at 90% -20%);
    z-index: 10001;
  }
  .tagline{
    display:none;
  }
  .container-style{
    width:109%;
    position: initial;
  }
  .contact-style{
    padding-right: 0;
  }
  .brand{
    position: relative;
    margin-left: 40%;
  }
}
.underline-opening:after,
.underline-opening:before{
    position:absolute;
    z-index:100;
}
.underline-opening:after {
    content: "";
    width: 3px;
    height: 3px;
    bottom: 0;
    left: 0;
    right: 0;
    margin: -10px auto;
}

.underline-opening:focus:after,
.underline-opening:hover:after {
    width: 100%;
    height: 3px;
    margin-right:10px;
}

.underline-opening:before {
    content: "";
    width: 3px;
    height: 3px;
    bottom: 0;
    right: 0;
    left: 0;
    margin: -10px auto;
}

.underline-opening:focus:before,
.underline-opening:hover:before {
    width: 100%;
    height: 3px;
   margin-right:10px;
}
.navbar-list a {
    position: relative;
    z-index: 50;
    text-decoration: none;
    -webkit-tap-highlight-color: transparent;
    overflow: hidden
}
.navbar-list a {
    -webkit-transition: color 1s ease;
    -moz-transition: color 1s  ease;
    -ms-transition: color 1s ease;
    -o-transition: color 1s ease;
    cursor: pointer
}
.navbar-list a {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    transition: color 1s ease
}

.navbar-list a:focus,
.navbar-list a:hover {
    outline: 0;
    /*color: #1B98E0;*/
    -webkit-transition: color 1s ease;
    -moz-transition: color 1s ease;
    -ms-transition: color 1s ease;
    -o-transition: color 1s ease;
    transition: color 1s ease;
    cursor: pointer
}

.navbar-list a:after,
.navbar-list a:before {
    -webkit-transition: all 1s ease 0s;
    -moz-transition: all 1s ease 0s;
    -ms-transition: all 1s ease 0s;
    -o-transition: all 1s ease 0s;
    transition: all 1s ease 0s
}

.navbar-list a:focus:after,
.navbar-list a:focus:before,
.navbar-list a:hover:after,
.navbar-list a:hover:before {
    outline: 0;
    /*background-color: #7890cd;*/
      background-color: #ff5733;
    -webkit-transition: all 1s ease 0s;
    -moz-transition: all 1s ease 0s;
    -ms-transition: all 1s ease 0s;
    -o-transition: all 1s ease 0s;
    transition: all 1s ease 0s
}
.team-area{
  padding-top: 10%;
}
.team-area img{
 height:265.875px;
}
@media (max-height:575px)
{
  .team-area img
  {
    height:auto;
  }
}
.single-team{
  background-color:#7890cd;
  margin-bottom: 10px;
}
.single-team:hover .social{
  cursor: pointer;
  opacity: 1;
  transform: rotateY(0deg) scale(1, 1);
}
.img-area{
  overflow: hidden;
  position: relative;
}
.img-area img{
  width: 100%;
}
.img-area:hover img{
  transform: scale(1.2)
}
.img-area img{
  transition: all 0.4s ease 0s;
}
@media (max-width: 768px){
  .img-area img{
      display: inline-block;
  }
}
.img-area .social{
  background-color: rgba(0,0,0,0.7);
  position: absolute;
  text-align: center;
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
  opacity: 0;
  transition: .5s;
  transform: rotateY(180deg) scale(0.5, 0.5);
  transition: all 1s ease-in-out;
}
.img-area .social ul{
  text-align: center;
  position: relative;
  top: 100px;
  transition: all 1s ease-in-out;
}
.img-area .social ul li a{
  border: 1px solid #fff;
  color: #fff;
  display: block;
  font-size: 20px;
  height: 40px;
  width: 40px;
  line-height: 40px;
  text-align: center;
  transition: all 0.4s ease-in-out;
}
.img-area .social ul li:nth-child(1) a:hover{
background-color:#4267B2;
color:white;
border:1px solid transparent;
}
.img-area .social ul li:nth-child(2) a:hover{
background-color: #38A1F3;
color:white;
border:1px solid transparent;
}
.img-area .social ul li:nth-child(3) a:hover{
background:radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%,#d6249f 60%,#285AEB 90%);
color:white;
border:1px solid transparent;
}
.img-area .social ul li:nth-child(4) a:hover{
background-color: #2867B2;
color:white;
border:1px solid transparent;
}
.img-text{
  padding: 15px;
  color: #fff;
  text-align: center;
}
.img-text h4{
  margin: 0 0 5px;
  font-size: 22px;
  font-family: 'Crimson Text',sans-serif;
  letter-spacing: 1px;
}
.img-text h5{
  font-size: 16px;
/*    text-transform: uppercase;*/
  font-weight: bold;
}
.team_text{
  font-variant: small-caps;
font-weight: bold;
font-size:40px;
color:#234271e6;;
text-align:center;
padding:0 0 4% 0;
text-shadow: 3px 3px 5px rgba(0,0,0,0.3);
}
.list-inline li{
  margin-left: 45%;
}

/*39 32 161 0.8*/
/*234271*/
/*ff5252*/